---
import Button from "./Button.astro";
---

<link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
/>
<footer>
    <ul class="wrapper">
        <a target="_blank" href="https://twitter.com/NateBrook11">
            <li class="icon twitter">
                <span class="tooltip">Twitter</span>
                <span><i class="fab fa-twitter"></i></span>
            </li></a
        >
        <a target="_blank" href="https://www.instagram.com/_nbrook_/">
            <li class="icon instagram">
                <span class="tooltip">Instagram</span>
                <span><i class="fab fa-instagram"></i></span>
            </li></a
        >
        <a target="_blank" href="https://github.com/Natebrook11">
            <li class="icon github">
                <span class="tooltip">Github</span>
                <span><i class="fab fa-github"></i></span>
            </li></a
        >
    </ul>

    <svg
        width="193"
        height="155"
        viewBox="0 0 93 55"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
    >
        <g clip-path="url(#clip0_118_6464)">
            <path
                d="M67.2621 19.4062C61.9952 17.407 55.0856 16.2646 47.6971 16.1511C46.9494 12.3064 46.7321 7.09607 46.5001 0C46.2717 7.09607 46.0544 12.3101 45.3031 16.1511C37.9146 16.2646 31.005 17.407 25.7381 19.4062C20.1028 21.5445 17.0016 24.4188 17.0016 27.5018C17.0016 30.5848 20.1028 33.4592 25.7381 35.5938C31.005 37.593 37.9146 38.7354 45.3031 38.8489C46.0507 42.6936 46.2681 47.9039 46.5001 55C46.7285 47.9039 46.9458 42.6899 47.6971 38.8489C55.0856 38.7354 61.9952 37.593 67.2621 35.5938C72.8974 33.4555 75.9986 30.5812 75.9986 27.5018C75.9986 24.4225 72.8974 21.5445 67.2621 19.4098V19.4062ZM67.0596 19.9188C72.4628 21.9692 75.4388 24.6605 75.4388 27.4982C55.8554 26.927 49.9144 26.4327 47.8113 16.7003C55.0892 16.8211 61.8847 17.9525 67.0596 19.9151V19.9188ZM25.9443 19.9188C31.1229 17.9562 37.9146 16.8248 45.1926 16.7039C43.0895 26.4363 37.1485 26.9306 17.5651 27.5018C17.5651 24.6641 20.5411 21.9692 25.9443 19.9224V19.9188ZM25.9443 35.0812C20.5411 33.0308 17.5651 30.3395 17.5651 27.5018C37.1485 28.073 43.0895 28.5673 45.1926 38.2997C37.9146 38.1789 31.1192 37.0475 25.9443 35.0849V35.0812ZM67.0596 35.0812C61.881 37.0438 55.0892 38.1752 47.8113 38.2961C49.9144 28.5637 55.8554 28.0694 75.4388 27.4982C75.4388 30.3359 72.4628 33.0308 67.0596 35.0776V35.0812Z"
                fill="var(--text2)"></path>
        </g>
        <path
            d="M3.50962 25.0069C3 26.2003 1.67308 27.1399 0 27.4966C1.67308 27.8601 2.99039 28.7997 3.5 30C4.00962 28.8134 5.32692 27.8738 6.98077 27.5103H7C5.32692 27.1399 4.00962 26.1934 3.5 25L3.50962 25.0069Z"
            fill="var(--aux)"></path>
        <path
            d="M89.5096 25.0069C89 26.2003 87.6731 27.1399 86 27.4966C87.6731 27.8601 88.9904 28.7997 89.5 30C90.0096 28.8134 91.3269 27.8738 92.9808 27.5103H93C91.3269 27.1399 90.0096 26.1934 89.5 25L89.5096 25.0069Z"
            fill="var(--aux)"></path>
        <defs>
            <clipPath id="clip0_118_6464">
                <rect
                    width="59"
                    height="55"
                    fill="var(--text2)"
                    transform="translate(17)"></rect>
            </clipPath>
        </defs>
    </svg>

    <Button theme="light" text="Get in touch" href="/contact" />
    <svg
    class="nate"
        width="95%"
        viewBox="0 0 1392 216"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
    >
        <path
            d="M1222.25 213.8C1221.17 213.8 1220.64 213.3 1220.64 212.3L1221.44 6.5C1221.44 5.5 1221.98 5 1223.06 5H1268.28C1269.35 5 1269.89 5.5 1269.89 6.5V77.6L1333.28 6.2C1334.09 5.4 1335.03 5 1336.1 5H1382.53C1383.61 5 1383.88 5.4 1383.34 6.2L1313.5 89L1391.82 212.6C1392.36 213.4 1391.69 213.8 1389.8 213.8H1340.55C1339.2 213.8 1338.39 213.4 1338.12 212.6L1283.62 124.4L1269.49 140.9V212.3C1269.49 213.3 1268.95 213.8 1267.87 213.8H1222.25Z"
            fill="var(--text2)"></path>
        <path
            d="M1130.6 215.1C1116.07 215.1 1102.74 212.4 1090.63 207C1078.79 201.4 1069.23 194.1 1061.97 185.1C1054.7 175.9 1051.07 165.8 1051.07 154.8L1051.47 59.7C1051.47 48.7 1054.97 38.7 1061.97 29.7C1069.23 20.7 1078.92 13.5 1091.04 8.10001C1103.15 2.7 1116.34 0 1130.6 0C1145.14 0 1158.33 2.7 1170.17 8.10001C1182.01 13.5 1191.43 20.7 1198.43 29.7C1205.7 38.7 1209.33 48.7 1209.33 59.7L1209.73 154.8C1209.73 165.8 1206.1 175.9 1198.83 185.1C1191.84 194.1 1182.28 201.4 1170.17 207C1158.33 212.4 1145.14 215.1 1130.6 215.1ZM1130.6 178.8C1138.68 178.8 1145.67 176.4 1151.6 171.6C1157.79 166.6 1160.88 161 1160.88 154.8L1160.48 59.7C1160.48 53.1 1157.65 47.5 1152 42.9C1146.35 38.3 1139.21 36 1130.6 36C1122.26 36 1115.13 38.3 1109.2 42.9C1103.28 47.3 1100.32 52.9 1100.32 59.7V154.8C1100.32 161.4 1103.28 167.1 1109.2 171.9C1115.13 176.5 1122.26 178.8 1130.6 178.8Z"
            fill="var(--text2)"></path>
        <path
            d="M1019.91 216C1005.37 216 992.049 213.3 979.937 207.9C968.094 202.3 958.539 195 951.272 186C944.004 176.8 940.371 166.7 940.371 155.7L940.774 60.6C940.774 49.6 944.273 39.6 951.272 30.6C958.539 21.6 968.228 14.4 980.341 9C992.453 3.6 1005.64 0.899994 1019.91 0.899994C1034.44 0.899994 1047.63 3.6 1059.47 9C1071.32 14.4 1080.74 21.6 1087.74 30.6C1095 39.6 1098.64 49.6 1098.64 60.6L1099.04 155.7C1099.04 166.7 1095.41 176.8 1088.14 186C1081.14 195 1071.59 202.3 1059.47 207.9C1047.63 213.3 1034.44 216 1019.91 216ZM1019.91 179.7C1027.98 179.7 1034.98 177.3 1040.9 172.5C1047.09 167.5 1050.19 161.9 1050.19 155.7L1049.78 60.6C1049.78 54 1046.96 48.4 1041.31 43.8C1035.65 39.2 1028.52 36.9 1019.91 36.9C1011.56 36.9 1004.43 39.2 998.509 43.8C992.587 48.2 989.627 53.8 989.627 60.6V155.7C989.627 162.3 992.587 168 998.509 172.8C1004.43 177.4 1011.56 179.7 1019.91 179.7Z"
            fill="var(--text2)"></path>
        <path
            d="M767.372 212.8C766.295 212.8 765.757 212.3 765.757 211.3L766.565 5.2C766.565 4.4 767.103 4 768.179 4H849.735C864.269 4 877.593 6.7 889.705 12.1C902.086 17.3 911.91 24.4 919.178 33.4C926.445 42.2 930.079 52.2 930.079 63.4C930.079 70.8 928.598 77.5 925.637 83.5C922.677 89.3 919.178 94.3 915.14 98.5C911.103 102.5 907.469 105.5 904.239 107.5C918.774 119.5 926.041 133.6 926.041 149.8L926.445 211.3C926.445 212.3 925.772 212.8 924.426 212.8H878.804C877.727 212.8 877.189 212.5 877.189 211.9V149.8C877.189 142.6 873.69 136.4 866.692 131.2C859.963 125.8 851.619 123.1 841.66 123.1H815.013L814.609 211.3C814.609 212.3 814.071 212.8 812.994 212.8H767.372ZM815.013 87.1H849.735C858.079 87.1 865.48 84.8 871.94 80.2C878.4 75.6 881.63 70 881.63 63.4C881.63 57 878.4 51.5 871.94 46.9C865.75 42.3 858.348 40 849.735 40H815.013V87.1Z"
            fill="var(--text2)"></path>
        <path
            d="M596.456 212.8C595.38 212.8 594.841 212.3 594.841 211.3L595.649 5.2C595.649 4.4 596.187 4 597.264 4H674.782C690.124 4 703.851 6.8 715.963 12.4C728.075 17.8 737.63 25 744.628 34C751.626 43 755.125 52.8 755.125 63.4C755.125 72 752.434 80 747.051 87.4C741.937 94.8 735.746 100.8 728.479 105.4C736.284 111.2 742.34 117.9 746.647 125.5C750.953 133.1 753.107 141.1 753.107 149.5C753.107 161.1 749.339 171.7 741.802 181.3C734.266 190.9 724.038 198.6 711.118 204.4C698.468 210 684.337 212.8 668.725 212.8H596.456ZM644.097 86.8H674.782C684.202 86.8 691.739 84.4 697.391 79.6C703.312 74.6 706.273 69.2 706.273 63.4C706.273 57 703.178 51.5 696.987 46.9C690.796 42.1 683.395 39.7 674.782 39.7H644.097V86.8ZM643.694 176.2H668.725C678.415 176.2 686.759 173.6 693.757 168.4C700.755 163 704.254 156.7 704.254 149.5C704.254 142.3 700.755 136.1 693.757 130.9C686.759 125.7 678.415 123.1 668.725 123.1H644.097L643.694 176.2Z"
            fill="var(--text2)"></path>
        <path
            d="M444.507 213C443.346 213 442.766 212.5 442.766 211.499L443.201 5.20115C443.201 4.40039 443.781 4 444.942 4H584.591C585.751 4 586.331 4.50048 586.331 5.50144V39.1336C586.331 39.9344 585.751 40.3348 584.591 40.3348H495.407V87.1796H584.591C585.751 87.1796 586.331 87.58 586.331 88.3807L586.766 122.313C586.766 123.114 586.186 123.514 585.026 123.514H495.407V176.065H585.026C586.186 176.065 586.766 176.565 586.766 177.566V211.799C586.766 212.6 586.186 213 585.026 213H444.507Z"
            fill="var(--text2)"></path>
        <path
            d="M333.353 213.8C332.277 213.8 331.738 213.3 331.738 212.3V41.3H279.252C277.907 41.3 277.234 40.8 277.234 39.8L277.637 6.2C277.637 5.4 278.176 5 279.252 5H432.673C434.019 5 434.692 5.4 434.692 6.2V39.8C434.692 40.8 434.153 41.3 433.077 41.3H380.187L380.591 212.3C380.591 213.3 380.052 213.8 378.976 213.8H333.353Z"
            fill="var(--text2)"></path>
        <path
            d="M152.075 212.3L202.138 6.2C202.407 5.4 203.08 5 204.157 5H262.699C263.776 5 264.449 5.4 264.718 6.2L312.763 212.3C313.032 213.3 312.493 213.8 311.148 213.8H266.333C265.256 213.8 264.583 213.3 264.314 212.3L259.873 190.4H204.964L200.523 212.3C200.254 213.3 199.581 213.8 198.505 213.8H153.69C152.613 213.8 152.075 213.3 152.075 212.3ZM213.039 158.3H251.798L235.245 74L232.822 62.9L231.207 74L213.039 158.3Z"
            fill="var(--text2)"></path>
        <path
            d="M3.63364 212.8C1.48037 212.8 0.403737 212.1 0.403737 210.7L0 6.4C0 4.8 1.07664 4 3.22991 4H39.5664L107.798 122.2L105.779 6.4C105.779 4.8 106.991 4 109.413 4H149.383C150.998 4 151.806 4.8 151.806 6.4L152.209 211C152.209 212.2 151.536 212.8 150.191 212.8H114.662L44.815 102.4L47.6411 210.4C47.6411 212 46.4299 212.8 44.0075 212.8H3.63364Z"
            fill="var(--text2)"></path>
    </svg>
    <h4>
        © 2024 Nate Brook. All rights reserved. Thanks for visiting my
        portfolio 😊 v2.1.0
    </h4>
</footer>

<style>
    /* <------------- Footer -------------> */
    footer {
        /* background: url("/texture-dark.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat; */
        background-color: var(--secondary);
        width: 100%;
        padding: 10px;
        color: var(--text2);
        display: flex;
        gap: 50px;
        flex-direction: column;
        align-items: center;
        padding-bottom: 50px;

        user-select: none;
    }

    /* <------------- Footer svg -------------> */

    footer .nate {
        width: 100%;
        border-bottom: 2px solid var(--primary);
        padding-bottom: 20px;
    }

    /* <------------- Slogan -------------> */

    footer h4 {
        font-size: 20px;
        text-transform: uppercase;
        text-align: center;
        place-content: center;
        height: 5dvh;
    }

    /* <------------- Social media -------------> */

    .wrapper {
        display: inline-flex;
        list-style: none;
        justify-content: center;
        width: 100%;
        margin-top: 100px;
    }

    .wrapper .icon {
        position: relative;
        background: var(--text2);
        color: var(--text);
        border-radius: 50%;
        padding: 10px;
        margin: 10px;
        width: 60px;
        height: 60px;
        font-size: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
        cursor: pointer;
        transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    .wrapper .tooltip {
        position: absolute;
        top: 0;
        font-size: 14px;
        background: var(--text);
        color: var(--text2);
        padding: 5px 8px;
        border-radius: 5px;
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
        opacity: 0;
        pointer-events: none;
        transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    .wrapper .tooltip::before {
        position: absolute;
        content: "";
        height: 8px;
        width: 8px;
        background: #ffffff;
        bottom: -3px;
        left: 50%;
        transform: translate(-50%) rotate(45deg);
        transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    .wrapper .icon:hover .tooltip {
        top: -45px;
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }

    .wrapper .icon:hover span,
    .wrapper .icon:hover .tooltip {
        text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
    }

    .wrapper .facebook:hover,
    .wrapper .facebook:hover .tooltip,
    .wrapper .facebook:hover .tooltip::before {
        background: #1877f2;
        color: #ffffff;
    }

    .wrapper .twitter:hover,
    .wrapper .twitter:hover .tooltip,
    .wrapper .twitter:hover .tooltip::before {
        background: #1da1f2;
        color: #ffffff;
    }

    .wrapper .instagram:hover,
    .wrapper .instagram:hover .tooltip,
    .wrapper .instagram:hover .tooltip::before {
        background: #e4405f;
        color: #ffffff;
    }

    .wrapper .github:hover,
    .wrapper .github:hover .tooltip,
    .wrapper .github:hover .tooltip::before {
        background: #333333;
        color: #ffffff;
    }

    .wrapper .youtube:hover,
    .wrapper .youtube:hover .tooltip,
    .wrapper .youtube:hover .tooltip::before {
        background: #cd201f;
        color: #ffffff;
    }
</style>
