---

---

<span class="tablet">
    <slot />
</span>

<style>
    
    /* <------------- Tablet -------------> */

    .tablet {
        background: var(--text2);
        color: var(--text);
        border-radius: 50px;
        text-transform: uppercase;
        width: fit-content;
        padding: 0px 25px;
        font-weight: 700;
        font-size: 14px;
    }
</style>
